.image {
  width: 350px;
  height: 350px;
  display: block;
  margin: 3% auto;
  border-radius: 50%;
  border: 2px dotted brown;
}

.paragraph {
  display: flex;
  font-family: Calibri;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0% 5%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.me {
  height: 300px;
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 0;
  border: 1px solid black;
}
.prof {
  font-weight: 500;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    rgba(249, 231, 159, 1),
    rgba(208, 236, 231, 1) /* rgba(255, 255, 234, 0.5) */
  );
}

footer {
  text-align: right;
  padding: 10px;
}

.footertext {
  font-size: 1.5rem;
  font-weight: 500;
}

nav {
  background-color: rgb(225, 223, 218);
  overflow: hidden;
  display: flex;
  justify-content: center;
}
nav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 10px;
  transition: 0.3s;
}
nav a.active,
nav a:hover {
  background-color: #bdc4b1;
  color: #17202a;
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: nowrap;
    justify-content: center;
  }
  nav a {
    margin: 0 5px;
    padding: 8px 10px;
    font-size: 14px;
  }
}
