.education,
.experience {
  /* display: flex; */
  padding-top: 20px;
  margin: 0 5%;
}

h1 {
  font-size: 2rem;
  color: #ffdb58;
}
h2 {
  /* font-size: 2.5em; */
  margin: 0 20px;
  padding: 0px 0px 20px 0px;
  text-align: left;
}
hr {
  border: none;
  height: 0.5px;
  background-color: #ccc;
  margin: 20px 0;
}

h3 {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: auto;
  text-align: center;
}

mark {
  background-color: #2f82bb;
  color: #ffdb58;
}

p {
  margin: 0 20px 20px 20px;
  text-align: left;
  font-size: 1.15rem;
}

.footertext {
  color: white;
}
@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}

.job {
  margin-top: 20px;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.6s ease;
}

.arrow-btn.rotate {
  transform: rotate(180deg);
  transition: 0.6s;
}

.dropdown-content {
  list-style-type: none;
  padding: 0;
  display: none;
  margin-top: 10px;
}

.dropdown-content li {
  color: white;
  padding: 5px;
  margin: 0 5%;
  border-radius: 5px;
}
